<!-- <div *ngFor="let data of liveData">
  <li>{{ data.goalscorers | json }}</li>
</div> -->



<div class="ui very padded container segment" style=" margin-top: 5%;">
    <div class="ui four column grid">
    <div class="ui link cards">
      <div class="card" *ngFor="let LiveScore of liveData">
        <div class="content">
          <div class="header">{{LiveScore?.event_home_team}} vs {{LiveScore?.event_away_team}}</div>
          <div class="meta">
            <a>
              <i class="map marker icon"></i>{{LiveScore?.country_name}}
              <i class="calendar alternate icon"></i>{{LiveScore?.event_date}}
              <i class="clock icon"></i>{{LiveScore?.event_time}}</a>
          </div>
          <div class="description">
            <p>Final Result:{{LiveScore?.event_final_result}}</p>
            <p>League Name:{{LiveScore?.league_name}}</p>
            <p>League Round:{{LiveScore?.league_round}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>