<div class="ui very padded container segment" style=" margin-top: 5%;">
  <div class="ui grid">
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img src={{playerStats?.imageURL}}>
        </div>
        <div class="content">
          <div class="header">{{playerStats?.fullName}}</div>
          <div class="meta">
            <a>{{playerStats?.battingStyle}}</a>
          </div>
          <div class="description">
            {{playerStats?.profile}}
          </div>
          <div class="meta">
            <a>BowlingStyle:{{playerStats?.bowlingStyle}}</a>
            <p>MajorTeams:{{playerStats?.majorTeams}}</p>
          </div>

        </div>
        <div class="extra content">
          <span class="right floated">
            Age {{playerStats?.currentAge}}
          </span>
          <span>
            <i class="map marker icon"></i>
            {{playerStats?.country}}
          </span>
        </div>

      <div class="six wide column">
        <h6>bowlingStyle:</h6>
      </div>
      <div class="ten wide column">
        <h1 style="text-align: center">{{playerStats?.bowlingStyle}}</h1>
      </div>
    </div>
  </div>

  <div class="ui link cards"  style="float:right">
    <div class="card">
      <div class="content">
        <div class="header">
          <h1>Player Bowling stats</h1>
        </div>
        <div class="meta">
          <a>4w's:{{playerBowling?.firstClass['4w']}}</a>
        </div>
        <div class="description">
          <p>5w's:{{playerBowling?.firstClass['5w']}}</p>
        </div>
        <div class="description">
          <p>10's:{{playerBowling?.firstClass['10']}}</p>
        </div>
        <div class="description">
          <p>Balls's:{{playerBowling?.firstClass[Balls]}}</p>
        </div>
        <div class="description">
          <p>Econ's:{{playerBowling?.firstClass[Econ]}}</p>
        </div>
        <div class="description">
          <p>Wkts's:{{playerBowling?.firstClass[Wkts]}}</p>
        </div>
        <div class="description">
          <p>Mat's:{{playerBowling?.firstClass[Mat]}}</p>
        </div>
        <div class="description">
          <p>Runs's:{{playerBowling?.firstClass[Runs]}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui link cards" style="float:right">
    <div class="card">
      <div class="content">
        <div class="header">
          <h1>Player Batting stats</h1>
        </div>
        <div class="meta">
          <a>50's:{{playerBatting?.firstClass[50]}}</a>
        </div>
        <div class="description">
          <p>100's:{{playerBatting?.firstClass[100]}}</p>
        </div>
        <div class="description">
          <p>Ave's:{{playerBatting?.firstClass[Ave]}}</p>
        </div>
        <div class="description">
          <p>Ct's:{{playerBatting?.firstClass[Ct]}}</p>
        </div>
        <div class="description">
          <p>HS's:{{playerBatting?.firstClass[HS]}}</p>
        </div>
        <div class="description">
          <p>Inns's:{{playerBatting?.firstClass[Inns]}}</p>
        </div>
        <div class="description">
          <p>Mat's:{{playerBatting?.firstClass[Mat]}}</p>
        </div>
        <div class="description">
          <p>Runs's:{{playerBatting?.firstClass[Runs]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
