
<div class="ui grid">
    <div class="six wide column">
      <h6>bowlingStyle:</h6>
    </div>
    <div class="ten wide column">
      <h1 style="text-align: center">{{playerStats?.bowlingStyle}}</h1>
    </div>
  
    <div class="six wide column">
      <h6>majorTeams:</h6>
    </div>
    <div class="ten wide column">
      <p>{{playerStats?.majorTeams}}</p>
    </div>
  
  
      <div class="six wide column">
        <h6>Name:</h6>
      </div>
      <div class="ten wide column">
        <p>{{playerStats?.name}}</p>
      </div>
  </div>
  