<div class="ui grid">
  <div class="ui blue inverted fixed menu navbar page grid">
    <a class="item"> <i class="home icon"></i> </a>
    <a class="item" (click)="cricketPlayerInfo()">Cricket players</a>
    <a class="item" (click)="footballPlayersInfo()">Football players</a>
    <a class="item" (click)="basketPlayerInfo()">Basketball players </a>
    <div class="right menu">
      <div class="ui fluid category search">
        <div class="ui icon input">
          <input
            class="prompt"
            type="text"
            placeholder="Search for a player..."
            (click)="selectSearch()"
            [(ngModel)]="searchText"
          />
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
</div>
<!-- ========================cricket=================== -->
<div
  class="ui very padded container segment"
  style=" margin-top: 5%;"
  *ngIf="selectField == 'cricket'"
>
  <a
    class="ui card"
    href="javascript:void(0)"
    *ngFor="let obj of searchData"
    (click)="cricketPlayerSelected(obj['pid'])"
  >
    <div class="content">
      <div class="header">{{ obj["fullName"] }}</div>
      <div class="meta">
        <span class="category">{{ obj["name"] }}</span>
      </div>
    </div>
  </a>
</div>
<!--
  <span class="right floated" *ngIf='statsInfo'>
      <app-player-stats [playerStats]='playerDetails'></app-player-stats>
      </span>
  </div>
-->
<!--
  <div class="ui link cards">
    <div class="card">
      <div class="image">
        <img src={{playerDetails?.imageURL}}>
      </div>
      <div class="content">
        <div class="header">{{playerDetails?.fullName}}</div>
        <div class="meta">
          <a>{{playerDetails?.battingStyle}}</a>
        </div>
        <div class="description">
          {{playerDetails?.profile}}
        </div>
        <span class="right floated">
        <a href="javascript:void(0)" (click)="viewMore()">view more</a>
        </span>
      <span class="right floated" *ngIf='statsInfo'>
        <app-player-stats [playerStats]='playerDetails' >view more</app-player-stats>
        </span>
      </div>
      <div class="extra content">
        <span class="right floated">
          Age {{playerDetails?.currentAge}}
        </span>
        <span>
          <i class="map marker icon"></i>
          {{playerDetails?.country}}
        </span>
      </div>
    </div>
  </div>
-->

<!-- ===========football======== -->

<div
  class="ui very padded container segment"
  style=" margin-top: 5%;"
  *ngIf="!searchFootball?.length && selectField == 'football'"
>
  <div class="ui three column divided grid">
    <div class="row">
      <div class="column"><p>Team Name</p></div>
      <div class="column"><p>Team Logo</p></div>
      <div class="column"><p>Team Key</p></div>
    </div>
    <div class="row">
      <div class="column">
        <p>{{ footballPlayersData?.team_name }}</p>
      </div>
      <div class="column">
        <div class="image">
          <img src="{{footballPlayersData?.team_logo}}" />
        </div>
      </div>
      <div class="column">
        <p>{{ footballPlayersData?.team_key }}</p>
      </div>
    </div>
    <div class="row">
      <div class="column"><p>Name</p></div>
      <div class="column"><p>Country</p></div>
      <div class="column"><p>Role</p></div>
    </div>
    <div class="row" *ngFor="let player of playerData">
      <div class="column">
        <p>{{ player["player_name"] }}</p>
      </div>
      <div class="column">
        <p>{{ player["player_country"] }}</p>
      </div>
      <div class="column">
        <p>{{ player["player_type"] }}</p>
      </div>
    </div>
  </div>
</div>

<div
  class="ui very padded container segment"
  style=" margin-top: 5%;"
  *ngIf="searchFootball?.length && selectField == 'football'"
>
  <h1>search results</h1>
  <a
    class="ui card"
    href="javascript:void(0)"
    *ngFor="let obj of searchFootball"
  >
    <div class="content">
      <div class="header">{{ obj.player_name }}</div>
      <span class="right floated">
        <a href="javascript:void(0)">{{ obj.player_age }}</a>
      </span>
      <div class="meta">
        <span class="category">{{ obj.player_country }}</span>
      </div>
      <div class="description">{{ obj.player_type }}</div>
    </div>
  </a>
</div>
<!-- ==================basketball========= -->

<div
  class="ui very padded container segment"
  style=" margin-top: 5%;"
  *ngIf="selectField == 'basketball'"
>
  <h1>basketball view</h1>
</div>
